.main-wrapper {
  display: flex;
  flex-direction: row;
  min-height: 100dvh;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: calc(100dvw - 273px);
}
.dashboard-container,
.admin-container {
  z-index: 1;
}
/* NAVBAR */
#navbar-main {
  background-image: linear-gradient(
    to left,
    var(--link-color),
    rgb(132, 100, 249)
  );
  height: 102px;
  color: var(--light-text) !important;
}
#navbar-main::after {
  content: "";
  background-image: inherit;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 150px;
}
.navbar-texture {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 252px;
  mix-blend-mode: multiply;
  background-color: white;
  background-image: url("https://www.transparenttextures.com/patterns/light-honeycomb.png");
  z-index: 1;
  pointer-events: none;
}
#navbar-main h2 {
  position: relative;
  z-index: 3 !important;
}
/* SIDEBAR */
/* Dynamic Styles in react Sidebar Components  */
.sidebar button,
.sidebar .logo,
.sidebar .nav-item {
  z-index: 2 !important;
}
.sidebar {
  width: 273px;
  height: 100dvh;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  position: relative;
  color: rgba(131, 119, 143, 0.5);
  z-index: 10;
}
.sidebar::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: var(--card-header);
  background-image: url("https://www.transparenttextures.com/patterns/light-honeycomb.png");
  filter: brightness(1.25);
  pointer-events: none;
}
.toggle {
  background-color: #3025534f;
  border-radius: 0px 0px 8px 8px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 6;
  height: 50px;
  width: 50px;
  transition: 0.5s;
}
.toggle img {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  filter: brightness(0.5);
}
.logo-wrapper {
  width: 100%;
  height: 102px;
  display: flex;
  justify-content: center;
}
.logo {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.nav-item {
  max-height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 273px;
  background-color: transparent;
}
.nav-item a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  font-weight: 300;
  font-size: 18px;
  color: #0c0c0d;
  transition: 0.2s;
}
.nav-item a:hover {
  color: #2c2c2f;
}
.nav-item a.active {
  color: #5932ea;
  background-color: #cecece;
  font-weight: 700;
}
.nav-item a.active::after {
  position: absolute;
  left: -6px;
  content: "";
  border-radius: 6px;
  width: 12px;
  height: 30px;
  background-color: #5932ea;
}

.nav-item i {
  margin-right: 1rem;
}
.sidebar hr {
  margin: 12px 12px 0px 12px;
  border: 1px solid var(--table-head);
}
.logout-btn {
  width: 100px;
}

.footer-container {
  margin-top: auto;
}

/* Cards */
.dashboard-card-title,
.card-header {
  color: var(--dark-text) !important;
}
.card {
  border-radius: 6px !important;
}
.admin-card li.active {
  background: var(--link-color);
  border-color: var(--link-color);
}
.card-header {
  background-color: var(--card-header) !important;
  background-image: url("https://www.transparenttextures.com/patterns/quilt.png");
}

/* Project Page */
.project-tickets-table {
  cursor: pointer;
}
.project-tickets-table th {
  cursor: auto;
}
.project-header {
  color: var(--light-text) !important;
  background-color: #21212127;
  margin-bottom: 1.5rem;
  border-radius: 6px;
  box-shadow: 0 20px 10px -20px rgba(0, 0, 0, 0.45) inset,
    20px 0 10px -20px rgba(0, 0, 0, 0.45) inset;
}

/* Media Queries */
@media (max-width: 1159px) {
  .project-main-tables {
    flex-direction: column;
  }
  .table-wrapper {
    width: 100%;
  }
}

@media (max-width: 995px) {
  .main-content {
    width: 100%;
  }
  .sidebar {
    min-width: 100dvw;
    position: absolute;
    opacity: 0.94;
    transition: 0.35s;
  }
  .sidebar .nav-item {
    width: 100%;
  }
  .project-header h5 {
    font-size: 14px;
  }
}
@media (max-width: 650px) {
  .admin-container {
    flex-direction: column;
  }
}
