.sidebar {
  width: 273px;
  height: 100dvh;
  background-color: white;
  box-shadow: 0px 20px 50px rgba(220, 224, 249, 0.5);
}

.main-wrapper {
  display: flex;
  flex-direction: row;
}

.main-content {
  display: flex;
  flex-direction: column;
  background-color: #e8e8e8;
  min-width: calc(100dvw - 273px);
}
/* SIDEBAR */
#navbar-main {
  background-color: white;
  height: 102px;
  border-bottom: 1px solid #e8e8e8;
}

.nav-item {
  max-height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 273px;
  background-color: #f8f8f8;
}
.nav-item a {
  text-decoration: none;
  font-weight: 300;
  font-size: 18px;
  color: #0c0c0d;
  transition: 0.2s;
}
.nav-item a:hover {
  color: #2c2c2f;
}
.nav-item a.active {
  color: #5932ea;
  font-weight: 700;
}

.nav-item i {
  margin-right: 1rem;
}
.sidebar hr {
  margin: 0px 12px;
  border: 1px dashed red;
}
.logout-btn {
  width: 100px;
}

/* PROJECTS TABLE */
.table-wrapper {
  border-radius: 6px;
  border: solid 2px #e0e1e4;
}
.dashboard-card-title {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  padding: 6px;
}
.projects-table {
  background-color: white;
}
.projects-more {
  cursor: pointer;
}
.dashboard-btn {
  background-color: #f7f7f7 !important;
  color: #1a2b88 !important;
  border-color: transparent !important;
  border-radius: 10px !important;
}
.projects-table th {
  font-size: 1rem;
  color: #949494;
  font-weight: 300;
}
.projects-table td {
  height: 42px;
  border: none;
  font-weight: 600;
}

.footer-container {
  margin-top: auto;
}
