.sidebar {
  margin-top: 102px;
  width: 273px;
  height: 100dvh;
  background-color: white;
  box-shadow: 0px 20px 50px rgba(220, 224, 249, 0.5);
}

.main-wrapper {
  display: flex;
  flex-direction: row;
}

.main-content {
  display: flex;
  flex-direction: column;
  background-color: #e8e8e8;
  min-width: calc(100dvw - 273px);
}
/* SIDEBAR */
#navbar-main {
  background-color: white;
  height: 102px;
}

.nav-item {
  max-height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 273px;
  background-color: #f8f8f8;
}
.nav-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  font-weight: 300;
  font-size: 18px;
  color: #0c0c0d;
  transition: 0.2s;
}
.nav-item a:hover {
  color: #2c2c2f;
}
.nav-item a.active {
  color: #5932ea;
  background-color: #d7cbe3;
  font-weight: 700;
}

.nav-item i {
  margin-right: 1rem;
}
.sidebar hr {
  margin: 0px 12px;
  border: 1px dashed red;
}
.logout-btn {
  width: 100px;
}

.footer-container {
  margin-top: auto;
}
/* Project Page */
.project-tickets-table {
  cursor: pointer;
}
