li {
  cursor: pointer;
}
.card {
  box-shadow: var(--shadow-1);
  border: none !important;
}
.admin-container {
  display: flex;
  justify-content: space-evenly;
}
.admin-card {
  width: 100%;
  align-self: flex-start;
}
#remove-user-btn {
  font-size: 12px;
  height: 25px !important;
  line-height: 0;
}
.project-main-tables {
  display: flex;
  justify-content: space-between;
}
