li {
  cursor: pointer;
}

.admin-container {
  display: flex;
}
.organization-wrapper {
  flex: 1;
  max-height: auto !important;
}
.edit-user-wrapper {
  flex: 1;
}
#remove-user-btn {
  font-size: 12px;
  height: 25px !important;
  line-height: 0;
}
.project-main-tables {
  display: flex;
  justify-content: space-between;
}
