.table-1 td {
  vertical-align: middle;
}
.table-1 a {
  text-decoration: none;
  color: var(--link-color);
}
.table-1 a:hover {
  text-decoration: none;
  color: var(--link-hover);
}
.project-name {
  min-height: 100% !important;
  border-bottom: none;
}
.ticket-row {
  cursor: pointer;
}

/* PROJECTS TABLE */
.table-wrapper {
  border-radius: 6px;
  border: none;
  align-self: flex-start;
  box-shadow: var(--shadow-1);
}
.dashboard-card-title {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}
.project-table {
  background-color: white;
}
.projects-more {
  cursor: pointer;
}
.new-project-btn {
  background-color: #f7f7f7 !important;
  color: #1a2b88 !important;
  border-color: transparent !important;
  border-radius: 10px !important;
}
.table-1 th {
  font-size: 1rem;
  color: var(--table-head);
  font-weight: 300;
}
.table-1 td {
  height: 42px;
  border: none;
  font-weight: 600;
}
.project-team-wrapper {
  flex: 1;
}
.project-tickets-wrapper {
  flex: 1.5;
}
