.table-responsive {
  border-radius: 6px !important;
}
.table-1 td {
  vertical-align: middle;
}
.table-1 a {
  text-decoration: none;
  color: var(--dark-text);
}
.table-1 a:hover {
  text-decoration: none;
  color: var(--link-color);
}
.project-name {
  min-height: 100% !important;
  border-bottom: none;
}
.ticket-row {
  cursor: pointer;
}
tbody tr:hover,
.active-ticket {
  background-color: #e2ddef;
}

/* PROJECTS TABLE */
.table-wrapper {
  border-radius: 6px;
  border: none;
  align-self: flex-start;
  box-shadow: var(--shadow-1);
}
.dashboard-card-title {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}
.project-table {
  background-color: white;
}
.project-team-table {
  min-width: 33% !important;
}
.projects-more {
  cursor: pointer;
}
.new-project-btn {
  background-color: white !important;
  color: #1a2b88 !important;
  border-color: transparent !important;
  border-radius: 6px !important;
  transition: 0.15s;
}
.new-project-btn:hover {
  background-color: #1a2b88 !important;
  color: var(--light-text) !important;
}
.table-1 th {
  font-size: 1rem;
  color: var(--table-head);
  font-weight: 300;
}
.table-1 td {
  height: 42px;
  border: none;
  font-weight: 600;
}
.project-team-wrapper {
  flex: 1;
}
.project-tickets-wrapper {
  flex: 1.5;
}

/* PAGINATION */
.pagination {
  margin: 0;
  display: flex;
  gap: 0.25rem;
}
.page-link {
  height: 40px !important;
  width: 40px !important;
  border-radius: 20px !important;
  background-color: white !important;
  border-color: var(--dark-text) !important;
  color: var(--link-color) !important;
}
.page-link:hover {
  background-color: var(--link-color) !important;
  color: var(--light-text) !important;
}
.active .page-link {
  color: var(--light-text) !important;
  background-color: var(--link-hover) !important;
  border-color: var(--loading-color) !important;
}

@media (max-width: 514px) {
  .table-1 {
    font-size: 14px;
  }
}
